{% extends "base_generic.html" %}

{% block body %}

<div class="row">
    <div class="column sidebar">
        <p><i class="fa fa-fw fa-user"></i> Client: Daniel Guill</p>
        <p><i class="fas fa-city"></i> Company: Paycom LLC</p>
        <p><i class="fa fa-fw fa-envelope"></i> Email: daniel.guill@eagles.oc.edu</p>
        <p><i class="fas fa-question-circle"></i> Queries: 10</p>
        <a href="#services"><i class="fas fa-sign-out-alt"></i> Sign Out</a>

    </div>

    <div class="column middle" style="background-color:white;">
        {% block content%}
        {% endblock %}
    </div>

</div>

{% endblock %}