{% extends "base_sidebar.html" %}

{% block content %}

<div id="loading">
    <div id="loading-items">
        <p class="loading-top">Gathering Information...</p>
        {% load static %}
        <img src="{% static 'images/ajax-loader.gif'%}" alt="Loading..." />
        <p class="loading-bottom">Please wait.</p>
    </div>
</div>
<div class="column middle" style="background-color:white;">
    <button class="tablink" onclick="openPage('JSON', this)">Search via JSON</button>
    <button class="tablink" onclick="openPage('MANUAL', this)" id="defaultOpen">Search via Form</button>
    <div id="JSON" class="tabcontent">
        <form method = "post">
            {% csrf_token %}
            <table>
                {{ json_form.as_table }}
            </table>
            <button type="submit" class = "submitbtn" style="vertical-align:middle" value  ="json"> <span>Submit</span></button>
            
        </form>
    </div>
    <div id="MANUAL" class="tabcontent">
        <form method = "post">
            {% csrf_token %}
            <table>
                {{ manual_form.as_table }}
            </table>
            <button type="submit" class = "submitbtn" style="vertical-align:middle" value = "manual"> <span>Submit</span></button>
        </form>
    </div>
</div>

{% endblock %}