<!DOCTYPE html>
{% load static %}
{% load django_tables2 %}
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'test_bookstore/search_page_style.css' %}">
        <style>
        table{
            width: 50%;
            background-color: #000000;
            margin-left: auto;
            margin-right: auto;
        
        }
        tr{
            background-color: #f7f6f6;
            padding: 10px;
        
        }
        td {
            text-align: left;
            padding: 8px;
        
        }
        .icon {
            margin-left: auto;
            margin-right: auto;
            width: 30%;

        }
        </style>
    </head>
    
    <body>
    
        {% block logo %}
        <div class="icon" style="position:relative">
            <p style="font-size: 2.4em; color:orangered;" align="left"><img src="{% static 'test_bookstore/logo.png' %}" alt="Company Icon" align="left">Test Bookstore</p>
        </div>
        {% endblock logo %}
    
        {% block searcher %}
        <div class="center">
            <form action="{% url 'test_bookstore:search' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search" id="searchButton">
            </form>
        </div>
        {% endblock searcher %}
        
        <div>
            
            {% if "" not in results %}
                {% block table %}
                    {% render_table table %}
                {% endblock table %}
            {% endif %}
        </div>
    </body>
</html>
