body {
    background-image: url("test bookstore detail page.png");
    background-size: 1400px 1000px;
    background-repeat: no-repeat;
    font-size: 100%;
}
h1 {
    padding-left: 20%;
    padding-top: 4%;
    font-family: "Palatino Linotype";
    font-size: 2.4em;
}
